.quote-header-container {
  /* background-image: url("../../../assets/ins3.png"); */
  background-image: url("https://lh3.googleusercontent.com/e0yk53riGabcJRANJnLe25Ktu2H9cueQuwpg9ZLoQoPKzziXWcvqEwa2iqmZMo7LaORuXUP2kdDMcVbWSJQPn-QcCbL77Po4isG8twzCibjCXTmPmKhCzn9AvxzWbrnRXdF694qRzoddx7HhRzC71alpiozhdfFZmOUKcliK3I2QHpTVLL2Cuo53I1yD6F7xCqtP430xulFsvzN6LLeHVqUzbnPlrP4OdaljpHsqv2flc614yygyHEiHerM3hcJpYQSB6Mq2rZMyeHoH6YA5pg8aa914mi2z8uxdeKzkYb7ooTQIfHRVy6WE8DCxyslO3kLQJDiyE6HR7PaiquK7YkJpQ3YIGOpmQZ3S9Cz-2N_l0vs2jEBujmvZCUzS6WasufRVLjx6-xf8U9vLe3r7XIpRy6TyjudHwZLPgR9Pwb3wwicPKwc-WpQ9kMLiwzf8CAvJoXAOUVrVeZ6pUli7t3z8j4O1AowL38I_RKLpveCA63MXgrh5sfeqC-YkaYSLsFYQVp388OhVWiU0kK7jol1ioqN-ZCj8N2CPeAiePephCBRrD3obkg3ieM66Y0LNFt-NeELEd-Bn55wr3ZFqm9LzPBi1-3gaVd7ZOHb_Y9KmcNKbY-J1DCrGlOw-S_LMl-AfnSYWa5GbOxCiU6Y8j3ZubFhVCLaD6qafoXvYgqpvJ0fI2slhQuY4X9Jo37BEy89Uyh8uWC4y3aFYskACKGiJ6rFucNdCgEJTxMJARJKi9gLHqoiMAknHX2YC76aCuukq3ksJ3Wg9I65f_UKFiPgaKLzCEN6AvS6ZCp0Xha0_IVts9jtWT2sW7khWi9rp38I4uDDo5AD03sKVQwW4EUH3ZvzWtxYDQ9-lnww9bhzoN-k85ckHqtyc6nRwafN3Gg9tzibihclVYD0-ewUy_se5Q9lTgBvessooiZ2F_w7aZzu_=w1638-h1369-no?authuser=0");
}

.quote-header-info {
  padding: 50px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* width: 50%; */
}

.quote-header-info h1 {
  margin: 0;
}

.quote-header-info div {
  width: 50%;
}

.quote-header-info p {
  margin-bottom: 40px;
  /* width: 100%; */
}

.quote-page-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
}

.quote-page-section-container h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.quote-page-section-container .question-small {
  color: var(--dark-blue);
}

.quote-disc {
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .quote-header-info div {
    width: 100%;
  }

  .quote-header-info,
  .quote-page-section-container {
    padding: 40px 25px;
  }
}
