footer {
  padding: 0px 20px 10px 20px;
}

.footer-line {
  height: 1px;
  width: 100%;
  background-color: var(--border-grey);
}

.footer-info-container {
  display: flex;
  flex-direction: row;
}

.footer-info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 46%;
}

.footer-info2,
.footer-info3,
.footer-info4 {
  width: 18%;
}

.footer-contact-location-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-contact-location-container h3 {
  margin-bottom: 0;
}

.footer-info-container ul {
  list-style: none;
  padding-left: 0;
}

.footer-info-container li {
  list-style-type: none;
}

.footer-title {
  margin-bottom: 0px;
}

/* music container */

.footer-music-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-music-right svg {
  width: 23px;
  height: 23px;
  margin-left: 20px;
  color: var(--aqua-blue);
}

.footer-audioplayer {
  flex: 2;
}

.footer-music-right {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
}

.footer-album-image {
  width: 70px;
  height: 70px;
  border: solid 1px var(--dark-blue);
  margin-right: 10px;
}

.footer-music-info {
  display: flex;
  flex: 1;
  align-items: center;
}

.footer-music-info p {
  margin: 0px;
}

.footer-non-music {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-non-music svg {
  width: 23px;
  height: 23px;
  margin: 10px;
  color: var(--aqua-blue);
}

.footer-non-music a,
.footer-non-music Link {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .footer-music-info,
  .footer-audioplayer {
    width: 100%;
    flex: none;
  }

  .footer-music-container {
    padding-top: 20px;
  }

  .footer-music-right {
    display: none;
  }

  /* .footer-music-info {
    justify-content: center;
  } */

  .footer-info2,
  .footer-info3,
  .footer-info4 {
    display: none;
  }
  .footer-info1 {
    width: 100%;
    height: 100px;
  }
}
