.musicians-header-container {
  /* background-image: url("../../../../assets//dg3o.png"); */
  background-image: url("https://lh3.googleusercontent.com/1Emfusb30XfOFHMWf3hGEOCtwrZIAjl0IBEtRv_mPNhXwjgPAsq_orb1eyHcfyTJLqcs1PQBBoU-DkKT1_x6-wbBDEOWVeq3pm2rJ28ufB928UdOnUxkVmCf8qodJmE5v1tnqzfkb23unvvd35t6JWbEU1qihRN6nMR7w8PtV9OoX7S2-U2le63P0315VaFqLS0idkqNKb_O1XKz81rVivxFJ2abh35F68cOoHiqvBBOiC6dVyZy3bKWVdQIVCWOW2b0Xd0gE4rYJYUypjURKXu1P155nfoHTsVkKH93oxAHBik7gaD99FwWQp3t6bmbqVvQ6j2W6hjyTnbBZvwqhiISYRHYX_9c2rHnWqkMV6XArcECkjesmO-tf3RNK9Lwopiy4Rj0jR-lb3aJCCY4MyMPGPGj7IFWEjgVxWAZ0SsFJOSieDLhK4jtJO3hORo_h5kveGd1cfGqCzZdDGyHu3Mayyspe55rWc3O8Jb-syh0XZ-bOEH7EV-0fqFBSN1iAuyBtWyoN4UyoVHgwyqnH4u9E2MZhNLKoGbVr5ocG1MIBlnJg2inHv-xG2UOjvqylxDo3qmKleehTzQzkTneGhpgvs9TODRg2MLvg4ASxsiXw0oSosYCX_xX3wxwKs2HleoiV4RuLqJ3DRceO4_e0ET7-O9mnrMxuJlxR09XB4rIAMLkEQ8so9BubvP_Og44i5tHRtZ3jsSB8-3py0WmyeXBZZgkWFcg8qHWlW34wSFnU2fLGDsZ5V3O87dexKFZ0L1v6i3dPAgb_tIpTVV-Ca1HY_uG_GLu80vqgt381Fy-eEHGXYcaUCXoOG594PeJ6q8zn2V80VPW1rr8L4MCl9dKWHbO_VwwXl1ppBpvYDYsCNFfEezFHQlTV8l-dZZH2_CQvSZQPK1JW_5FizD1QwKfz6Vt3D6QTrb9S-nHLthv00rf=w1440-h960-no?authuser=0");
}

.musicians-header-info {
  padding: 50px 100px 100px 100px;
  display: flex;
  justify-content: flex-end;
  /* width: 50%; */
}

.musicians-header-info h1 {
  margin: 0;
}

.musicians-header-info div {
  width: 50%;
}

.musicians-last-p {
  margin-bottom: 40px;
  /* width: 100%; */
}

@media only screen and (max-width: 1024px) {
  .musicians-header-info div {
    width: 100%;
  }

  .musicians-header-info {
    padding: 40px 25px;
  }
}
