.contact-header {
  padding: 10px 100px;
}
.contact-header ul {
  list-style: none;
  padding-left: 0;
}

.contact-header li a,
.contact-header li p {
  display: inline;
}

@media only screen and (max-width: 1024px) {
  .contact-header {
    padding: 10px 25px;
  }
}
