:root {
  --dark-blue: #16374b;
  --dark-blue2: #14374c;
  --aqua-blue: #3d77ea;
  --light-blue: #f0f5ff;
  --turquoise: #63ead3;
  --turquoise2: #1ac8aa;
  --text-grey: #9fa4a6;
  --number-grey: #e9e9e9;
  --quote-grey: #c9ced1;
  --border-grey: #dce1e5;
  --transition-time: 0.2s;
  --border-radius: 3px;
  --slider-width-large: 800px;
  --slider-width-medium: 500px;
  --slider-width-small: 250px;
}

/* all */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* fonts and words */

h1,
h2,
h3,
h4,
h5,
p,
li,
a,
small,
button,
label {
  font-family: "Poppins";
  color: var(--dark-blue);
}

.logo-title {
  font-family: "Anton";
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }
}

.alternate-section-title {
  font-family: "Merriweather";
  font-size: 16px;
  font-weight: 300;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

.logo-subtitle {
  font-weight: 600;
  font-size: 16px;
}

p,
.contact-header li,
.header-bullets li,
.services-part-title,
.services-list li,
.concerts-list li,
.profile-website,
.quotebar-box label {
  font-size: 14px;
  font-weight: 400;
}

.button,
.contact-header h2,
.footer-subtitle,
h4 {
  font-size: 14px;
  font-weight: 600;
}

.header-small {
  font-weight: 500;
  font-size: 16px;
}

.nav-link {
  font-size: 12px;
}

.review-text {
  font-size: 26px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .review-text {
    font-size: 18px;
  }
}

.review-author {
  font-family: "Merriweather";
  font-size: 16px;
  font-style: italic;
}

.services-subtitle {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
}

.quote-small {
  font-size: 12px;
  font-weight: 400;
}

.footer-title {
  font-size: 16px;
  font-weight: 600;
}

.album-header-text,
.album-artist-text,
.footer-music-contact {
  font-size: 16px;
  font-weight: 400;
}

.album-title-text {
  font-size: 18px;
  font-weight: 500;
}

.album-number-text,
.album-duration-text {
  font-size: 18px;
  font-weight: 400;
}

.footer-list li,
.quote-disclaimer {
  font-size: 12px;
  font-weight: 500;
  /* text-decoration: none; */
}

.footer-small {
  font-size: 10px;
  font-weight: 500;
  color: var(--text-grey);
}

.contact-location small {
  font-family: "Merriweather";
  font-size: 12px;
}

/* text colours */

.text-grey {
  color: var(--text-grey);
}

.text-turquoise {
  color: var(--turquoise2);
  transition: var(--transition-time);
}

.text-aqua-blue {
  color: var(--aqua-blue);
}

.text-turquoise:hover {
  color: var(--turquoise);
}

.text-white,
.profile-icon {
  color: white;
  transition: var(--transition-time);
}

.profile-icon:hover {
  color: var(--turquoise);
}

.bg-dark-blue h2,
.bg-dark-blue h3,
.bg-dark-blue h4,
.bg-dark-blue li,
.bg-dark-blue p,
.bg-aqua-blue h2,
.bg-aqua-blue small {
  color: white;
}

.profile-website {
  color: var(--aqua-blue);
  transition: var(--transition-time);
}

.profile-website:hover {
  color: var(--turquoise);
}

.dark-blue-hover {
  transition: var(--transition-time);
}

.dark-blue-hover:hover {
  color: var(--turquoise2);
}

/* text style */

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

a {
  text-decoration: none;
}

.header-bullets,
.concerts-list {
  list-style: none;
  padding-left: 0;
}

.services-list {
  padding-left: 0;
  list-style-position: inside;
}

/* background colours */

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-turquoise {
  background-color: var(--turquoise);
}

.bg-dark-blue {
  background-color: var(--dark-blue2);
}

.bg-aqua-blue {
  background-color: var(--aqua-blue);
}

/* section containers */

.section-container {
  padding: 10px 100px;
}

@media only screen and (max-width: 1024px) {
  .section-container,
  .how-it-works-container {
    padding: 25px 25px;
  }
}

/* join us section */

/* services section */

.services-section {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  height: 500px;
}

.services-info-container {
  width: 30%;
  padding: 100px 200px;
}

.services-image-container {
  width: 70%;
}

.services-image-container img {
  height: 100%;
  width: 100%;
}
