.join-us-container h2 {
  margin: 0;
}

.join-us-container svg {
  width: 40px;
  height: 40px;
  color: var(--number-grey);
}

.join-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
}

.join-paragraph {
  width: 500px;
  margin-bottom: 20px;
  /* margin: 50px 0px; */
  /* border: 1px solid red; */
}

@media only screen and (max-width: 1024px) {
  .join-us-container {
    padding: 40px 25px;
    /* align-items: flex-start; */
  }

  .join-paragraph {
    width: 100%;
  }
}
